@font-face {
    font-family: Belwe;
    src: url(./fonts/Belwe\ Bold.otf);
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: black;
}
*{
    cursor: url(./cursor/hs-cursor.png), auto;
}
.fondo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
}
.fondo img{
    z-index: 100;
    height: 100%;
    position: absolute;
}

/* ------------------- */

#glow-rotate {
    pointer-events: none;
    animation-iteration-count: infinite;
    display: inline-block;
    transform-origin: center;
}
.index-event-hover {
    border-radius: 100%;
    width: 50vh;
    height: 50vh;
    background-color: red;
    position: absolute;
    z-index: 3000;
    border: none;
    opacity: 0%;
}
.index-event-hover:hover {
    cursor: url(./cursor/cursor-hover.png), auto;
}
#glow-simple {
    opacity: 0%;
    transition: 5s;
}

/* Z-Index */

#glow-rotate {
    z-index: 2999;
}
#index-capa {
    position: absolute;
    z-index: 2998;
}
#index-shine, #index-shine1, #index-shine2 {
    visibility: visible;
    opacity: 0%;
    position: absolute;
    z-index: 2995;
}
#glow-simple {
    z-index: 3000;
}

@keyframes shine {
    0% { -webkit-transform: scale(100%) rotate(0deg); } 
    10% { -webkit-transform: scale(110%) rotate(-1deg); }
    20% { -webkit-transform: scale(100%) rotate(1deg); }
    30% { -webkit-transform: scale(110%) rotate(0deg); }
    40% { -webkit-transform: scale(100%) rotate(1deg); }
    50% { -webkit-transform: scale(110%) rotate(-1deg); }
    60% { -webkit-transform: scale(100%) rotate(0deg); }
    70% { -webkit-transform: scale(110%) rotate(-1deg); }
    80% { -webkit-transform: scale(100%) rotate(1deg); }
    90% { -webkit-transform: scale(110%) rotate(0deg); }
    100% { -webkit-transform: scale(100%) rotate(-1deg); }
}
.shine {
    animation-name: shine;
    animation-duration: 7s;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
    display: inline-block;
}
.shine2 {
    animation-name: shine;
    animation-duration: 10s;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
    display: inline-block;
}